nav.navbar.navbar-expand-lg.navbar-dark.primary-color
    div.collapse.navbar-collapse#basicExampleNav
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Graphs By State
            li.nav-item
                a.nav-link(href="/state_vs_state") State vs State
div.flex-col
    h1.pageHeading Covid19 Graphs site
    p Data provided by the 
        a(href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html") New York Times
    p#error
