nav.navbar.navbar-expand-lg.navbar-dark.primary-color
    button.navbar-toggler(type="button" data-toggle="collapse" 
        data-target="#navbar" aria-controls="basicExampleNav" 
        aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbar
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Graphs By State
            li.nav-item
                a.nav-link(href="/state_vs_state") State vs State
div.flex-col
    h1.pageHeading Covid19 Graphs site
    p Data provided by the 
        a(href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html") New York Times
    p#error
